
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <input type="button" style="background-color:#4c4cff;color:white;display:block" value="Hydrogen bond"/>
        <input type="button" style="background-color:#ff7f00;color:white;display:block" value="Hydrophobic"/>
        <input type="button" style="background-color:#7f7f7f;color:white;display:block" value="Van der Waals"/>
        <input type="button" style="background-color:#a5e5a5;color:white;display:block" value="Weak ionic"/>
        <input type="button" style="background-color:#00ff00;color:white;display:block" value="Ionic"/>
        <input type="button" style="background-color:#66b2b2;color:white;display:block" value="Weak hydrogen bond"/>
        <input type="button" style="background-color:#ff3333;color:white;display:block" value="Pi-stacking"/>
        <input type="button" style="background-color:#b27f7f;color:white;display:block" value="Unfavorable"/>
        <input type="button" style="background-color:#ffcc7f;color:white;display:block" value="Chalcogen bond"/>
        <input type="button" style="background-color:#ff9999;color:white;display:block" value="Cation-pi"/>
        <input type="button" style="background-color:#8c3f99;color:white;display:block" value="Repulsive"/>
        <input type="button" style="background-color:#7fffff;color:black;display:block" value="Halogen bond"/>
      </ul>

    </div>
  </div>
  