<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="sidebar">
      <div class="sidebar-wrapper">
        <ul class = 'nav'>
            <form method = 'post'>
          <li>
            <input class="btn btn-primary animation-on-hover" type="submit" name='update_list' value = "Update molecules" onclick="update_mols();"/>
          </li>
          <li>
            <input class="btn btn-primary animation-on-hover" type="submit" name='save_predictions' value = "Save Predictions"/>
          </li>
        </form>
        </ul>
        
      </div>
    </div>

